{% extends 'base.html.twig' %}

{% block body %}
    <h1>Note creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}


    <ul>
        <input type="submit" value="Créer une note" class="btn btn-success" />
        {{ form_end(form) }}
        <li>
            <a href="{{ path('note_index') }}" class="btn btn-primary">Retour au projet</a>
        </li>
    </ul>
{% endblock %}
