{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}
{% block fos_user_content %}
<div class="row">
    <div class="container">
        <div class="card card-container">
            <div class="login-container">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

                    <h4 style="text-align: center;">Renseignez votre email ou votre pseudo</h4>

                    <input type="text" class="form-control" placeholder="Pseudo" id="username" name="username" required="required" /><br>
                    <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="{{ 'resetting.request.submit'|trans }}" />
            </form>
                <br><br>
                <button class="btn "><a href="{{ path('fos_user_security_login') }}">Retour connexion</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
{% endblock body %}