{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fond creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('fond_index') }}">Retour aux fonds</a>
        </li>
    </ul>
{% endblock %}
