{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer le projet" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('projet_index') }}">Retour aux projets</a>
        </li>
    </ul>
{% endblock %}
