{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur creation</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn btn-success" />
    {{ form_end(form) }}

    <ul style="list-style-type: none">
        <li>
            <a href="{{ path('user_index') }}">
                <button type="button" class="btn btn-primary">Retour à la liste</button>
            </a>
        </li>
    </ul>
{% endblock %}
