{% extends 'base.html.twig' %}

{% block body %}
    <h1>Charge creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer charge" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('charge_index') }}">Retour aux charges</a>
        </li>
    </ul>
{% endblock %}
