{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-4 col md-4 block">
            <h1>Message creation</h1>
            <br/>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Créer message" />
            {{ form_end(form) }}
        <ul>
            <li>
                <a href="{{ path('discussion_index') }}">Retour aux discussions</a>
            </li>
        </ul>
        </div>
    </div>
{% endblock %}
