{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-4 col md-4 block">
            <h1>Message creation</h1>
            <br/>
            {{ form_start(form) }}
                {{ form_widget(form) }}

        <ul style="list-style-type: none">
            <input type="submit" value="Créer message" class="btn btn-success" />
            {{ form_end(form) }}
            <li>
                <a href="{{ path('discussion_show',{'id':message.discussionid.id}) }}">
                    <button type="button" class="btn btn-primary">Retour a la discussion</button>
                </a>
            </li>
        </ul>
        </div>
    </div>
{% endblock %}
