{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création discussion</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer discussion" />
    {{ form_end(form) }}
{% if is_granted('ROLE_MANAGER') %}
    <ul>
        <li>
            <a href="{{ path('discussion_index') }}">Retour aux discussions</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
