{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création discussion</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

    <ul style="list-style-type: none">
        <input type="submit" value="Créer discussion" class="btn btn-success" />
        {{ form_end(form) }}
        <li>
            <a href="{{ path('discussion_index') }}"><button type="button" class="btn btn-primary">Retour aux discussions</button></a>
        </li>
    </ul>
{% endblock %}
